#refreshButton {
	position: absolute;
	margin: 0px;
	right: 5px;
	bottom: 5px;
}

#tetrisPiece1,
#tetrisPiece2,
#tetrisPiece3,
#tetrisPiece4 {
	width: 32px;
	visibility: hidden;
}

#canvas {
	position: absolute;
	width: 300px;
	left: 25%;
	right: 25%;
	margin: 0px;
	height: 600px;
}